.about {}

.about__wrapper {
    min-height: 660px;
    padding-top: 100px;
    padding-bottom: 90px;
    background-repeat: no-repeat;
    background-image: url(assets/img/houseplant.png);
    background-position: right bottom;
    background-size: 38% auto;
    background-origin: content-box;
}

.about__content {
    display: flex;

}

.about__foto {
    flex: 0 1 50%;
    text-align: right;

    img {}
}

.about__article {
    flex: 0 1 50%;
    padding: 60px 0px;
}

.about__title {
    margin: 0px 0px 40px 0px;
}

.about__text {
    font-size: 2.0rem;
    line-height: 1.5;
    color: $font-color-secondary;

    p {}
}

.about__active {}

.about__button {}