.button {
  display: inline-block;
  min-width: 160px;
  padding: 14px 30px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1.6rem;
  line-height: 1.25;
  color: $color-button-hover;
  border: 2px solid $color-button-hover;
  border-radius: 10px;
  background-color: transparent;
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: $color-button-hover;
    color: $light;
  }
}