.contacts-info {
    padding: 7px 20px 30px;
    border: 1px solid #000000;
    border-radius: 20px;

    @media (max-width: $mobile) {
        padding: 23px 25px 23px;
    }
}

.contacts-info__content {
    margin: 0px 0px 10px 0px;
    border-spacing: 10px 20px;
    line-height: 1.25;
    letter-spacing: 0.05em;

    @media (max-width: $mobile) {
        border-spacing: 10px 13px;
    }

    th {
        color: #000000;
    }

    tr {
        color: $font-color-primary;
        vertical-align: top;
    }

}

.contacts-info__call {
    text-align: center;
}