.contacts {
    @extend %coloured-section;
}

.contacts__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 550px;
    background-image: url(assets/img/contact_woman.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}

.contacts__title {
    margin: 0px 0px 40px 0px;
    text-align: center;
    font-weight: 700;
}

.contacts__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: stretch;
}

.contacts__select {
    display: inline-block;
    width: 455px;
    padding: 18px 75px 18px 35px;
    cursor: pointer;
    font-family: 'Inika', serif;
    font-size: 2.0rem;
    line-height: 2;
    letter-spacing: 0.05em;
    color: $light-gray;
    border: none;
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent; //$color-select;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    // background: url(assets/svg/accordion_btn.svg);
    // background-repeat: no-repeat;
    // background-size: 16px 16px;
    // background-position: center right 35px;

    &::-ms-expand {
        display: none;
    }

    // &:focus {
    //     background-color: $color-select-activ;
    // }

    option {}
}

.contacts__city-select {
    position: relative;
    margin: 0px 0px 60px 0px;
    background-color: $color-select;
    // background: url(assets/svg/accordion_btn.svg);
    // background-repeat: no-repeat;
    // background-size: 16px 16px;
    // background-position: center right 35px;
}

.contacts__arrow {
    right: 40px;

    svg {
        fill: #afa1a1;
        stroke: #e0dcdd;
    }

    &.active {
        svg {
            fill: #8aa07c;
            stroke: #d4dace;
        }
    }
}

.contacts__info {
    min-width: 455px;
    display: none;

    &.active {
        display: block;
    }
}