.contacts {
    @extend %coloured-section;
}

.contacts__wrapper {
    min-height: 38.4vw;
    padding-top: 60px;
    background-image: url(assets/img/contact_woman.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-origin: content-box;
    @media (max-width: $small-desktop) {
        background-size: 33% auto;
    }
    @media (max-width: $tablet) {
        min-height: auto;
        padding-top: 40px;
        padding-bottom: 34%;
        background-size: 26% auto;
        background-origin: border-box;
        background-position: 52% bottom;
    }
    @media (max-width: $mobile) {
        padding-top: 25px;
        padding-bottom: 0;
        background-position: 50% bottom;
    }
}

.contacts__title {
    margin: 0px 0px 35px 0px;
    text-align: center;
    font-weight: 700;

    @media (max-width: $tablet) {
        margin: 0px 0px 100px 0px;
    }
    @media (max-width: $mobile) {
        margin: 0px 0px 80px 0px;
        font-size: 2.5rem;
    }
}

.contacts__content {
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: $tablet) {
        align-items: center;
        padding-bottom: 0;
    }
}

.contacts__city-select {
    position: relative;
    display: inline-block;
    margin: 0px 0px 47px 0px;
    @media (max-width: $tablet) {
        margin: 0px 0px 20px 0px;
    }
    @media (max-width: $mobile) {
        margin: 0px 0px 25px 0px;
    }

    &::after {
        position: absolute;
        top: 50%;
        right: 35px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        content: '';
        display: inline-block;
        background-color: #afa1a1;
        background-image: url(assets/svg/arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        transform: translateY(-50%);

        @media (max-width: $mobile) {
            right: 22px;
        }
    }
}

.contacts__select {
    display: inline-block;
    min-width: 450px;
    padding: 5px 35px 5px 20px;
    cursor: pointer;
    font-size: 2.0rem;
    line-height: 2;
    letter-spacing: 0.05em;
    color: $font-color-primary;
    border: none;
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $color-select;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media (max-width: $mobile) {
        min-width: 300px;
        padding: 5px 45px 5px 20px;
    }
    &::-ms-expand {
        display: none;
    }

    .contacts__city-select:hover & {
        background-color: $color-select-activ;
    }

    option {}
}

.contacts__items {
    
}

.contacts__info {
    min-width: 448px;
    visibility: hidden;
    display: none;
    @media (max-width: $mobile) {
        min-width: 282px;
    }
    &:first-child {
        display: inline-block;
        // visibility: visible;
    }

    &.active {
        display: inline-block;
        visibility: visible;
    }
}