.header {}

.header__wrapper {
    padding-top: 42px;
    padding-bottom: 42px;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {}

.header__nav {}