.wrapper {
  max-width: $max-desktop;
  margin: 0 auto;
  padding: 0 calc((#{$max-desktop} - #{$max-width-content}) / 2);

  @media (max-width: $desktop) {}

  @media (max-width: $tablet) {}

  @media (max-width: $mobile) {}
}