.prices {}

.prices__wrapper {
    padding-top: 40px;
    padding-bottom: 115px;
}

.prices__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.prices__section {
    flex: 0 1 50%;

    &_bg {
        padding: 0px 0px 215px 50px;
        text-align: right;
        background-image: url(assets/img/small-leafs.png);
        background-repeat: no-repeat;
        background-position: bottom right;
    }
}

.prices__title {
    flex: 0 1 auto;
    margin: 0px 0px 60px 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: $font-color-dark;

}

.prices__subtitle {
    margin: 0px 0px 40px 0px;
    font-weight: 700;
    font-size: 4.0rem;
    line-height: 1.25;
    color: $font-color-dark;

    b {
        color: $color-primary;
    }
}

.prices__items {
    max-width: 332px;
    padding: 34px 41px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
}

.prices__item {
    margin: 0px 0px 30px 0px;
    padding: 16px 40px;
    cursor: pointer;
    background: $color-accord;
    border-radius: 20px;
    transition: all 0.3s ease 0s;

    &:last-child {
        margin: 0;
    }
    &:hover {
        background: $color-accord-activ;
    }
    &[open] {
        padding-bottom: 12px;
        background: $color-accord-activ;
    }
}

details summary::-webkit-details-marker {
    display: none;

}

details>summary {
    list-style: none;
}

.prices__category {
    position: relative;
    padding: 0px 30px 0px 0px;
    font-weight: 700;
    font-size: 2.0rem;
    line-height: 1;
    color: $font-color-dark;

    &::before {
        position: absolute;
        bottom: -9px;
        left: 0;
        width: 100%;
        height: 1px;
        content: '';
        display: none;
        background-color: #c2c4b9;
    }

    &::after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        content: '';
        display: inline-block;
        background-color: #D9D9D9;
        background-image: url(assets/svg/arrow-close.svg);
        background-repeat: no-repeat;
        background-position: center;
        transform: translateY(-50%);
    }
    details[open] & {
        margin: 0px 0px 15px 0px;
    
        &::before {
            display: block;
        }
    
        &::after {
            background-color: #AEA1A1;
            background-image: url(assets/svg/arrow-open.svg);
        }
    }
}
.prices__info {}

.prices__description {
    margin: 0px 0px 6px 0px;
    font-weight: 300;
    font-size: 1.0rem;
    line-height: 1;
    color: $font-color-primary;
}

.prices__price {
    margin: 0px 0px 5px 0px;
}
.prices__price-currency {
    font-size: 1.2rem;
    line-height: 1.67;
    font-weight: 700;
    color: $color-secondary;
}

.prices__price-value {
    font-size: 1.6rem;
    line-height: 1.25;
    font-weight: 700;
    color: $color-secondary;
}

.prices__price-period {
    font-size: 1.2rem;
    line-height: 1.67;
    color: $font-color-dark;
}

.prices__order {}

.prices__order-button {}



.prices__active {}

.prices__button {
    padding: 12px 30px;
    font-weight: 700;
}