$green: #499a18;
$orange: #e06733;
$light-gray: #717171;
$gray: #636060;
$light-green: #edf2ec;
$dark: #010201;

//Font Color
// $color-primary: ;
// $color-secondary: ;

$color-bg-section: $light-green;
$color-links-nav: $dark;
$color-link-activ: $orange;
$color-button-hover: $orange;

//max-width-content
$max-width-content: 1440px;

//Breack point
$bp-menu: 768px;

$desktop: 1440px;
$tablet: 768px;
$mobile: 380px;